<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body style="font-family: Arial; font-size: 12px;">
<div>
    <p th:text="Olá ${username},">
        Olá Utilizador,
    </p>
    <p>
        Perdeu a sua password? Não tem problema!
    </p>
    <p>
        Simplesmente, siga o link abaixo para proceder à reposição da sua password.
    </p>
    <p>
        Por favor ignore este e-mail se não pediu a reposição da sua password.
    </p>

    <p>
        <a href="${ resetPasswordLink }">
            Repor Password
        </a>
    </p>
</div>
</body>
</html>